page-tabs {

  .tabs-ios .tabbar,.tabs-md .tabbar{
    background-color: #16202d!important;
  }
  .tabs-ios .tab-button-icon,.tabs-ios .tab-button,
  .tabs-md .tab-button-icon,.tabs-md .tab-button
  {
    color: #fff;
  }
  .tab-button:nth-child(3) .tab-button-icon{
    width: 45px!important;
    height: 45px!important;
    border-radius: 50%!important;
    background-color: #1b2838!important;
    border: 2px solid #2c4559!important;
    padding: 4px!important;
    font-size: 32px!important;
    margin-top: -15px;
  }
  .tab-button{
    z-index: initial!important;
    overflow: inherit;
  }
  .tab-button:nth-child(3) .tab-button-text{
    //margin-top: 32px!important;
  }
  .tabs-ios .tab-button[aria-selected=true],.tabs-ios .tab-button[aria-selected=true] .tab-button-icon,
  .tabs-md .tab-button[aria-selected=true],.tabs-md .tab-button[aria-selected=true] .tab-button-icon
  {
    color: #00afff;
  }

  .toolbar-title-ios,.toolbar-title-md{
    font-weight: normal;
  }
}
