protocol{
  h3 {
    padding:0 20px;
    text-align: center;
  }
  .all-content{
    background-color: white;
  }

  #protocol{
    padding:10px;
  }
  td{
    padding:2px;
    border: 1px solid #e0dede;
  }
}
