page-coachdetail{
  .all-content {
    background-color: #1b2838;
  }
  .item-ios ion-thumbnail[item-start],
  .item-md ion-thumbnail[item-start]{
    margin: 0;
  }
  .item-ios,
  .item-md{
    padding-left: 0;
    overflow: hidden;
    background-color: #174560;
    max-height:90px;
    margin-bottom: 10px;
  }
  .item-md p,
  .item-ios p{
    font-size:1.2rem;
    padding:0.3rem 0;
    color:#b3b4b4;
  }
  .item-md  h2,
  .item-ios  h2{
    color:white;
    padding-bottom: 0.3rem;
    font-size:1.6rem;
  }
  .input-wrapper{
    padding-left: 0.3rem;
  }
  .item-ios.item-block .item-inner,
  .item-md.item-block .item-inner{
    padding-right: 0;
    //background-image:-webkit-linear-gradient(20deg, #17405b 10%, #17405b 50%);
    background-image: -webkit-linear-gradient(
        -20deg,
        #174560 10%,
        #194560 20%,
        #1a435f 30%,
        #18415b 43%,
        #173b55 50%,
        #183952 60%,
        #193a52 70%,
        #1a3a52 80%,
        #1a384e 90%
    );
    position: relative;
    z-index: 50;
  }
  .item-md ion-thumbnail, .item-md ion-thumbnail,
  .item-ios ion-thumbnail, .item-ios ion-thumbnail{
    height:100%;
    max-width:90px;
    z-index: 1;

  }
  .item-md ion-thumbnail ion-img, .item-md ion-thumbnail img,
  .item-ios ion-thumbnail ion-img, .item-ios ion-thumbnail img {
    width: inherit;
    height: inherit;
    max-height: 90px;
  }
  ion-img.time{
    background: inherit;
    vertical-align: middle;
    min-width: 14px;
    min-height: 14px;

  }
  .time-range{
    color:#00afff;
  }
  .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
    border-bottom: none;
  }
  .list-ios .item-block .item-inner,.list-md .item-block .item-inner{
    border-bottom: none;
  }
  .list-ios > .item-block:last-child,
  .list-ios > .item-wrapper:last-child .item-block,
  .list-ios > .item-block:first-child{
    border-bottom: none;
    border-top: none;
  }
  .item-md [item-right]{
    margin: 0;
  }
  .list-ios > .item-block.order,
  .list-md > .item-block.order{
    border-bottom: none;
    box-shadow: 2px 2px 5px #101721;
  }
  .list-ios > .item-block.tense,
  .list-md > .item-block.tense{
    border-bottom: 1px solid #f37c25;
  }
  .list-ios > .item-block.full,
  .list-md > .item-block.full{
    border-bottom: 1px solid #979797;
  }
  ion-thumbnail{
    position: relative;
    border:none;
    z-index: 1;
  }
  ion-thumbnail img{
    height:100%;
  }
  ion-thumbnail>div{
    position: absolute;
    top: -1px;
    right: 0;
    height: 200%;
    width: 40%;
    z-index: 1;
    transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    background-image: -webkit-linear-gradient(6deg, #1a384e 25%, #174560 50%);
  }
  ion-label{
    white-space: inherit;
  }
  ion-item span{
    font-size:1rem;
    color:#b2b1b1;
  }
  .list-ios,.list-md{
    margin:0 10px;
  }
  .order p{
    color:#dedcdc;
  }
  ul {
    display: block;
    list-style-type: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-padding-start: 0;
    margin: 5px 10px;
    box-shadow: 2px 2px 5px #101721;
    background-image: -webkit-linear-gradient(-20deg,   #174560 10%,
      #194560 20%,
      #1a435f 30%,
      #18415b 43%,
      #173b55 50%,
      #183952 60%,
      #193a52 70%,
      #1a3a52 80%,
      #1a384e 90%);

  }
  .list-group{
    .list-group-item {
      border: none;
      padding: 1rem 0;
      width: 100%;
      border-bottom: 1px solid #1b2838;
    }
    .list-group-item:first-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    .list-group-item:last-child {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .list-group-item > div {
      display: flex;
      display: -webkit-flex;
    }
    .item-img {
      width: 60px;
    }
    .my-setting .item-img {
      width: 40px;
    }
    .item-img > img {
      display: block;
      width: 25px;
      margin: -3px auto 0;
    }
    .item-right {

      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      flex: 1;
      padding-right: 1rem;
    }
    .item-right > p {
      color: #fff;
    }
    .item-right ion-icon{
      color: #fff;
    }
    .item-right i {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      font-size: 1.4rem;
      color: #8c8c8c;
    }
    .list-group-item:last-child{
      border-bottom: 1px solid #1b2838!important;
    }

  }


  .time{
    color: #00afff;
  }
  .clss {
    .titl{
    width: 60%;
    height: auto;
    display: inline-block;
    margin:0 20%;
  }
    .text{
      color: #b2b1b1;
      padding: 10px;
      //text-indent: 2pc;
    }
    .tip{
      overflow: hidden;
      margin:10px 30px;
      div{
        background-color: #16202d;
        display: block;
        border-radius: 12px;
        padding: 0 8px;
        float: left;
        color: #fff;

      }
    }
  }
  .tile{
    position: relative;
    margin: 10px 0;
    .fx{
      width: 120px;
      height: auto;
      padding:4px 20px 4px 10px;
      color: #00afff;
      background-color: #1c354c;
      box-shadow: 2px 2px 5px #0f151e;
      text-align: center;
      -webkit-clip-path: polygon(0px 120px, 120px 0px, 0px 0px, 0 100px, 0px 0)
    }
    //.turn{
    //  position: absolute;
    //  top: -5px;
    //  left: 100px;
    //  height: 50px;
    //  width: 30px;
    //  z-index: 1;
    //  transform: rotate(45deg);
    //  -ms-transform: rotate(45deg);
    //  -moz-transform: rotate(45deg);
    //  -webkit-transform: rotate(45deg);
    //  -o-transform: rotate(45deg);
    //  background-color: #1b2838;
    //}
  }
  ol li{
    content:counter(sectioncounter) "ã€";
    counter-increment:sectioncounter;
    color: #fff;
  }
  .row1 .col .col-box{
    width: 90%;
    margin: 0 5%;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 2px;
    position: relative;
    img{
      max-width: 60% !important;
      margin: 0 20%;
      height: auto;
    }
    h4{
      text-align: center;
      margin:0;
      font-size: 12px;
    }
    div{
      width: 30px;
      height: 30px;
      position: absolute;
      border-radius: 50%;
      background-color: #63bbee;
      color: #fff;
      text-align: center;
      top:-15px;
      left:-15px;
      font-size: 24px;
    }
  }
  .row1{
    margin: 20px 0;
  }
  .button-ios,.button-md{
    margin: 0;
    background-color: #00afff;
  }
  .toolbar-ios,.toolbar-md{
    padding: 0;
    min-height: 44px;
  }
  .list-grou{
    .list-group-item:nth-child(2){
      border-bottom:none;
    }
    .list-group-item{
      border-bottom: 1px solid #184a6c;
      overflow: hidden;
      position: relative;
      .left{
        float: left;
      }
      .right{
        float: right;
        position: absolute;
        right: 0;
        bottom: 0;
        .tile{
          margin: 0!important;
          -webkit-clip-path:polygon(70px -70px, 0px 40px, 0px 40px, 0px 70px, 140px 0px);
          .fx{
            width: 70px!important;
            color: #fff!important;
            background-color: #0598de!important;
            padding:4px 5px 4px 25px!important;


          }
          .turn{
          //  position: absolute;
          //  bottom: 10px!important;
          //  right: 100px!important;
          //  top:-15px!important;
          //  left:-15px!important;
          //  height: 50px;
          //  width: 30px;
          //  z-index: 1;
          //  transform: rotate(30deg)!important;
          //  -ms-transform: rotate(30deg)!important;
          //  -moz-transform: rotate(30deg)!important;
          //  -webkit-transform: rotate(30deg)!important;
          //  -o-transform: rotate(30deg)!important;
	     //background-image: -webkit-linear-gradient(6deg, #183952 10%, #1a3a52 70%);
          //  box-shadow: none;
          //  border-left:none;
          //  filter: none;
          }
        }

      }
      p:first-child{
        color: #fff;
        font-size: 14px;
      }
      p{
        color: #a4a6a8;
        margin: 5px;
        font-size: 12px;

      }
      .text-color{
        color: #0498de;
      }
      .tile{
        position: relative;
        margin: 10px 0 20px;
        .fx{
          width: 120px;
          height: auto;
          padding:4px 20px 4px 10px;
          color: #00afff;
          background-color: #1c354c;
          box-shadow: 2px 2px 5px #0f151e;
          text-align: center;

        }
        .turn{
          position: absolute;
          top: 5px;
          left: 105px;
          height: 40px;
          width: 30px;
          z-index: 1;
          transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          background-color: inherit;
          background-image: -webkit-linear-gradient(
              -20deg,
              #194560 20%,
              #194560 30%,
              #1a435f 43%
          );
          border-left: 1px solid #0f151e;
          filter: blur(0.6px);
        }
        .turn>div{
          height:100%;
          width:1.5px;
          background-image: -webkit-linear-gradient(
              0deg,
              rgba(15,20,30,0.6) 20%,
              rgba(15,20,30,0.5) 50%,
              rgba(15,20,30,0.4) 80%
          );
          filter: blur(1px);
        }
      }
    }
    .list-group-item:first-child{
      overflow: hidden;
      padding: 10px;
      p:first-child{
        float: left;
        text-align: left;
        color: #fff;
      }
      p:last-child{
        float: right;
        text-align: right;
        color: #fff;
        font-size: 12px;
      }
    }
    .list-group-item:last-child{
      text-align: center;
      color: #fff;
      padding: 10px;
      border-bottom: none;
    }
  }

}
