page-coachgrade {
  .all-content, .item-ios, .item-md {
    background-color: #1b2838!important;
  }
  .item-ios ion-thumbnail[item-start],
  .item-md ion-thumbnail[item-start]{
    margin: 0;
  }
  .item-ios,
  .item-md{
    padding-left: 0;
    overflow: hidden;
    background-color: #174560;
    max-height:90px;
    margin-bottom: 10px;
  }
  .item-md p,
  .item-ios p{
    font-size:1.2rem;
    padding:0.3rem 0;
    color:#b3b4b4;
  }
  .item-md  h2,
  .item-ios  h2{
    color:white;
    padding-bottom: 0.3rem;
    font-size:1.6rem;
  }
  .input-wrapper{
    padding-left: 0.3rem;
  }
  .item-ios.item-block .item-inner,
  .item-md.item-block .item-inner{
    padding-right: 0;
    //background-image:-webkit-linear-gradient(20deg, #17405b 10%, #17405b 50%);
    background-image: -webkit-linear-gradient(
        -20deg,
        #174560 10%,
        #194560 20%,
        #1a435f 30%,
        #18415b 43%,
        #173b55 50%,
        #183952 60%,
        #193a52 70%,
        #1a3a52 80%,
        #1a384e 90%
    );
    z-index: 50;
    position: relative;
  }
  .item-md ion-thumbnail, .item-md ion-thumbnail,
  .item-ios ion-thumbnail, .item-ios ion-thumbnail{
    height:100%;
  }
  .item-md ion-thumbnail ion-img, .item-md ion-thumbnail img,
  .item-ios ion-thumbnail ion-img, .item-ios ion-thumbnail img {
    width: inherit;
    height: inherit;
    max-height: 90px;
  }
  .time{
    background: inherit;
    vertical-align: middle;
    max-width: 14px;
    max-height: 14px;
    display: inline-block;
  }
  h2 .time{
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
  }
  .time-range{
    color:#00afff;
  }
  .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
    border-bottom: none;
  }
  .list-ios .item-block .item-inner,.list-md .item-block .item-inner{
    border-bottom: none;
  }
  .list-ios > .item-block:last-child,
  .list-ios > .item-wrapper:last-child .item-block,
  .list-ios > .item-block:first-child{
    border-bottom: none;
    border-top: none;
  }
  .item-md [item-right]{
    margin: 0;
  }
  .list-ios >div> .item-block.order,
  .list-md >div> .item-block.order{
    border-bottom: 1px solid #00afff;
  }
  ion-icon{
    color: #fff;
  }
  ion-thumbnail{
    position: relative;
    border:none;
    max-width: 90px;
    z-index: 1;
  }
  ion-thumbnail.help-img{
    background-size:cover;
  }
  ion-thumbnail img{
    height:100%;
  }
  ion-thumbnail>div.cover{
    position: absolute;
    top: -2px;
    right: 0;
    height: 200%;
    width: 40%;
    z-index: 1;
    transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    background-image: -webkit-linear-gradient(6deg, #1a384e 25%, #174560 50%);
  }
  ion-thumbnail>div.help-icon{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: -webkit-linear-gradient(
        0deg,
        rgba(48,82,106,0.9) 30%,
        rgba(38,51,65,0.9) 80%);
  }
  ion-thumbnail .help-icon img{
    display: block;
    width:40px;
    height:40px;
    margin:5px 10px;
  }
  ion-thumbnail .help-icon h2{
    padding-top:0.3rem;
    font-size:1.3rem;
    padding-left: 4px;
  }
  ion-item span{
    font-size:1rem;
    color:#b2b1b1;
  }
  .item-md [item-right],
  .item-ios [item-right]{
    height:100%;
    margin:0;
    position: relative;
    width:4.5em;
    //background-image: -webkit-linear-gradient(-11deg, #17405b 1%, #1a2c3d 20%, #1a2c3d 50%,#1a2b3c 100%);

    background-image: -webkit-linear-gradient(-11deg, #1a384e 1%, #1a384e 30%, #1a2b3c 70%);
    button{
      position: absolute;
      bottom: -2px;
      right:0;
      background: #0598de;
      color: #fff;
      font-size:1em;
      width: 100%;
      padding:0.4em 0;
      text-indent: 10%;
    }
    p{
      font-size:1em;
      text-align: center;
      color:white;
      z-index:2;
      position: relative;
      padding-top:0.5em;

    }
    div{
      position: absolute;
      top: -1em;
      left: -1em;
      height: 200%;
      width: 30%;
      z-index: 1;
      transform: rotate(20deg);
      -ms-transform: rotate(20deg);
      -moz-transform: rotate(20deg);
      -webkit-transform: rotate(20deg);
      -o-transform: rotate(20deg);
      background-image: -webkit-linear-gradient(6deg, #1a384e 10%, #1a384e 70%);
    }
  }
}
