<ion-content class="modal-bg">
  <div class="cover-center project-center">
    <h3>项目</h3>
    <ion-list radio-group>
      <ion-item>
        <ion-label>健身基础</ion-label>
        <ion-radio item-left checked="true" value="0"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>减脂</ion-label>
        <ion-radio item-left value="1"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>塑形</ion-label>
        <ion-radio item-left value="2"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>增肌</ion-label>
        <ion-radio item-left value="3"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>体能</ion-label>
        <ion-radio item-left value="4"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>小工具课堂</ion-label>
        <ion-radio item-left value="5"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>瑜伽</ion-label>
        <ion-radio item-left value="6"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>静态课程</ion-label>
        <ion-radio item-left value="7"></ion-radio>
      </ion-item>
    </ion-list>
    <h3>分类</h3>
    <ion-list radio-group>
      <ion-item>
        <ion-label>减压瑜伽</ion-label>
        <ion-radio item-left checked="true" value="0"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>舒展瑜伽</ion-label>
        <ion-radio item-left value="1"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>丰胸瑜伽</ion-label>
        <ion-radio item-left value="2"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>减脂瑜伽</ion-label>
        <ion-radio item-left value="3"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>塑形瑜伽</ion-label>
        <ion-radio item-left value="4"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>印度传统瑜伽</ion-label>
        <ion-radio item-left value="5"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>活力瑜伽</ion-label>
        <ion-radio item-left value="6"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>曼陀罗瑜伽</ion-label>
        <ion-radio item-left value="7"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list>
      <button full ion-button (click)="sure()">确定</button>
    </ion-list>
  </div>
</ion-content>
